#grid-container{
    height: 600px;
    width: 600px;
    border: 10px solid black;
    margin-left: 400px;
    border-radius: 2%;
}

#create-grid{
    margin: 5px;
    color: black;
    padding: 5px;
    margin-left: 620px;
}

#grid-clear{
    margin: 5px;
    color: black;
    padding: 5px;
}

#colorful{
    margin: 5px;
    color: black;
    padding: 5px;
    
}

footer{
    text-align: center;
    margin-right: 60px;
}

header{
    text-align: center;
    margin-right: 120px;
}
